<app-product-search></app-product-search>
<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
      <img src="{{product.url}}" alt="Product image" style="width:100px;height:100px;">
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <button type="button" (click)="addToCart(product)">Buy</button>
 <!--
  <button type="button" (click)="share()">Share</button>
  <app-product-alerts [product]="product" (notify)="onNotify()">

  </app-product-alerts>  -->
</div>
